html {
  box-sizing: border-box;
  transition: all 0.3s ease 0.1s;
  scroll-behavior: smooth;
  height: 100%;
}

* {
  box-sizing: inherit;
  transition: inherit;
}

:root {
  --max-w: 1300px;
  --nav-height: 62px;
  --min-w: 350px;
}

body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(187, 187, 187);
  border-radius: 12px;
}

#app {
  padding-top: var(--nav-height);
  min-width: var(--min-w);
}

.content {
  margin: auto;
  max-width: var(--max-w);
  max-width: clamp(70%, 85%, --max-w);
}

.sec {
  padding: 0 clamp(20px, 5vw, 50px);
}
