html {
  box-sizing: border-box;
  transition: all 0.3s ease 0.1s;
  scroll-behavior: smooth;
  height: 100%;
}

* {
  box-sizing: inherit;
  transition: inherit;
}

:root {
  --max-w: 1300px;
  --nav-height: 56px;
  --min-w: 350px;
}

body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(233, 233, 233);
  border-radius: 12px;
}

#app {
  padding-top: var(--nav-height);
  min-width: var(--min-w);
}

.content {
  max-width: var(--max-w);
}
