.nav {
  display: flex;
  justify-content: center;
  padding: var(--mpad);
}

.content,
.theme {
  display: flex;
  align-items: center;
}

.content {
  justify-content: space-between;
  gap: 10px;
}

.theme {
  align-items: center; 
  gap: 20px;
}
